<h1><%= t('teams.page_title') %></h1>
<table id="minimalist-table-hor-a" summary="<%= t('teams.page_title') %>">
  <thead>
    <tr>
      <th scope="col"><%= t('teams.team') %></th>
      <th scope="col"><%= t('players.roles.owner').capitalize %></th>
      <th scope="col"><%= t('teams.exists_since') %></th>
      <th scope="col"><%= t('more') %></th>
      <th scope="col"></th>  
    </tr>
  </thead>
  <tbody>
    <% for team in @teams do %>      
      <tr>
        <td><%= team %></td>
        <td><%= team.owner %></td>
        <td><%= time_ago_in_words(team.created_at) %></td>        
        <td>
          <%= form_tag team_path(team), :method => :get do %>
            <%= submit_tag t('teams.more'), :class => 'submit button' %>    
          <% end %>            
        </td>        
        <td>
          <%= form_tag new_offer_path, :method => :get do %>
            <%= hidden_field_tag 'originated_from_player', true %>
            <%= hidden_field_tag 'team_id', team.id %>
            <%= hidden_field_tag 'user_id', current_user.id %>
            <%= submit_tag t('teams.join'), :class => 'submit button' %>    
          <% end %>            
        </td>     
      </tr>
    <% end %>
  </tbody>
</table>
