<h1><%= t('teams.page_title') %></h1>

<% if user_signed_in? %>
  <div id="filter_buttons">
    <label for="allTeamsToggleButton"><%= t('teams.all') %></label>
    <input type="radio" name="show_filter" id="allTeamsToggleButton" 
           onClick="goTo('<%=  url_for :action => 'index', :show_my => nil %>')"
           <%= unless current_page?(:show_my => 'true', :page => params[:page]) then 'checked' else '' end %> />

    <label for="myTeamsToggleButton"><%= t('teams.my') %></label>
    <input type="radio" name="show_filter" id="myTeamsToggleButton" 
           onClick="goTo('<%=  url_for :action => 'index', :show_my => 'true' %>')" 
           <%= if current_page?(:show_my => 'true', :page => params[:page]) then 'checked' else '' end %> />
  </div>
<% end %>

<% if @teams.any? %>
  <table id="minimalist-table-hor-a" summary="<%= t('teams.page_title') %>">
    <thead>
      <tr>
        <th scope="col"><%= t('teams.team') %></th>
        <th scope="col"><%= t('players.roles.captain').capitalize %></th>
        <th scope="col"><%= t('teams.members_quantity') %></th>
        <th scope="col"><%= t('teams.exists_since') %></th>
        <th scope="col"><%= t('competitions.page_title') %></th>
        <th scope="col"><%= t('more') %></th>      
        <th scope="col"></th>  
      </tr>
    </thead>
    <tbody>
      <% for team in @teams do %>
        <tr>
          <td><%= team %></td>
          <td><%= team.owner %></td>
          <td><%= team.users.size %></td>
          <td><%= time_ago_in_words(team.created_at) %></td>        
          <td><%= (team.competitions.any? ? team.competitions.join(', ') : t('none')) %></td>
          <td>
            <%= form_tag team_path(team), :method => :get do %>
              <%= submit_tag t('teams.more'), :class => 'submit button', :name => nil %>    
            <% end %>            
          </td>        
          <td>
            <% if user_signed_in? and not team.has_member? current_user %>
              <%= form_tag new_offer_path, :method => :get do %>
                <%= hidden_field_tag 'originated_from_player', true %>
                <%= hidden_field_tag 'team_id', team.id %>
                <%= hidden_field_tag 'user_id', current_user.id %>
                <%= submit_tag t('teams.join'), :class => 'submit button', :name => nil %>    
              <% end %>            
            <% end %>
          </td>     
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @teams, :page => params[:page] %>
<% else %>  
  <p style='margin-top: 7px;'><%= t('teams.none') %></p>
<% end %>
<br />
<h2><%= t('teams.new') %></h2>
<table><tr>
    <td>
      <%= form_tag new_team_path, :method => :get do %>
        <%= submit_tag t('teams.create_new_team'), :class => 'submit button', :name => nil %>    
      <% end %>
    </td>
</tr></table>
        
