<h1><%= @article.title %></h1>
<section id="author"><%= t('articles.written_by') %> <%= @article.author %></section>
<section id="date"><%= time_tag @article.created_at %></section>

<article>
  <%= @article.html_content %>
</article>
