<% if can? :manage, @article %>
  <span class="fancy admin_panel"><%= link_to t('articles.edit_article'), edit_article_path(@article) %></span>
<% end %>
<h1><%= @article.title %></h1>

<section id="author_date">
  <span class="author"><%= @article.author %></span>
  <span class="date"> / <%= time_tag @article.created_at %></span>
  <span class="views"> / <%= t('articles.read') %> <%= pluralize_localized(@article.views, "raz") %></span>
</section>

<article>
  <% if @article.image_url.present? %>
    <div class="photo"><img src="<%= @article.image_url %>" alt="<%= @article.title %>" title="<%= @article.title %>" /></div>
  <% end %>
  <div class="content">
    <%= @article.html_content %>
  </div>
</article>


<%=
    comments_for @article, :page => params[:page]
%>
