<%= form_for(@competition) do |f| %>
  <% if @competition.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@competition.errors.count, "error") %> prohibited this competition from being saved:</h2>

      <ul>
      <% @competition.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p><%= f.label :name %> <%= f.text_field :name %></p>
  <p><%= f.label :description %> <%= f.text_area :description %></p>
  <p><%= f.label :logo_url %> <%= f.text_field :logo_url %></p>
  <%= f.label :competition_entries %>
  <%= f.fields_for :competition_entries do |m| %>
    <%= render 'competitions/competition_entry_fields', :f => m %>
  <% end %>
  <p><%= link_to_add_competition_entry_fields "add", f %></p>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
