<%= form_for(@competition) do |f| %>
  <% if @competition.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@competition.errors.count, "error") %> prohibited this competition from being saved:</h2>

      <ul>
      <% @competition.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p><%= f.label :name %> <%= f.text_field :name %></p>
  <p><%= f.label :status %> <%= f.text_field :status %></p>
  <p><%= f.label :season %> <%= f.text_field :season %></p>
  <p><%= f.label :parent_competition %> <%= f.select(:parent_competition_id, Competition.where("parent_competition_id is ?", nil).collect {|x| [x.name, x.id]}, { :include_blank => "" } ) %></p>
  <p><%= f.label :starts %> <%= datetime_select("competition", "starts") %></p>
  <p><%= f.label :ends %> <%= datetime_select("competition", "ends") %></p>
  <p><%= f.label :signup_ends %> <%= datetime_select("competition", "signup_ends") %></p>  
  <p><%= f.label :description %> <%= f.text_area :description %></p>  
  <p><%= f.label :team_stats_config %> <%= f.text_area :team_stats_config %></p>
  <p><%= f.label :logo_url %> <%= f.text_field :logo_url %></p>
  <h4><%= f.label :competition_entries %></h4>
  <%= f.fields_for :competition_entries do |m| %>
    <%= render 'competitions/competition_entry_fields', :f => m %>
  <% end %>
  <p><%= link_to_add_competition_entry_fields "add entry", f %></p><br/>
  
  <h4><%= f.label :competition_judges %></h4>
  <%= f.fields_for :competition_judges do |m| %>
    <%= render 'competitions/competition_judge_fields', :f => m %>
  <% end %>
  <p><%= link_to_add_competition_judge_fields "add judge", f %></p>
  
  <h4><%= f.label :competition_maps %></h4>
  <%= f.fields_for :competition_maps do |m| %>
    <%= render 'competitions/competition_map_fields', :f => m %>
  <% end %>
  <p><%= link_to_add_competition_map_fields "add map", f %></p>
  
  </br>

  <h4><%= f.label :regulations %></h4>
  <p><%= f.text_area :regulations %></p>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
