<h1><%= t('competitions.page_title') %></h1>

<div id="competition_list">
  <ul>
    <% for competition in @competitions do %>
      <li>
        <p>
          <em>
             <%= link_to competition.long_name, competition %> 
             <span class="dates"><%= time_tag competition.starts, :format => :std %> - <%= time_tag competition.ends, :format => :std %></span> 
             <span class="status"><%= competition.status %></span>
          </em>
          <%= competition.description %>
        </p>
      </li>
    <% end %>
  </ul>
</div>
