<h1>Drużyny zakwalifkowane do Ekstraklasy</h1>
<p>Rozgrywki kwalifikacyjne kończą się 6. lutego. Ostatni mecz musi być zatwierdzony w systemie najpóźniej o 23:59. Przypominamy, że do Ekstraklasy awansują wszystkie drużyny, które rozegrają co najmniej dwa mecze.</p>

<p>Aktualna lista drużyn i stan ich kwalifikacji:</p>
<table id="minimalist-table-hor-a" summary="<%= t('teams.page_title') %>">
  <thead>
    <tr>
      <th scope="col"><%= t('teams.team') %></th>      
      <th scope="col"><%= t('matches.played') %></th>      
      <th scope="col"></th>  
    </tr>
  </thead>
  <tbody>
    <% for team in @teams_qualified do %>    
      <tr>
        <td class="text-center"><%= team %></td>
        <td class="text-center"><%= team.played_matches_size(@competition) %></td>       
      </tr>
    <% end %>
    <% for team in @teams_remaining do %>    
      <tr>
        <td class="text-center"><%= team %></td>
        <td class="text-center"><%= team.played_matches_size(@competition) %> (<%= t('competitions.no_promotion') %>)</td>       
      </tr>
    <% end %>
  </tbody>
</table>

<p>Strona wciąż jest i będzie rozbudowywana. Zdajemy sobie sprawę, że nowa strona zawiera błędy i w niektórych miejscach jest nieintuicyjna, dlatego wszelkie problemy tego typu prosimy zgłaszać na forum w specjalnie do tego stworzonym temacie: 
<a href="http://unchartedleague.com/forum/index.php?topic=1376.0" target="_blank">Problemy i błędy na nowej stronie Ligi</a>.</p>
 
<%= debug ENV %>