<h1><%= t('players.page_title') %></h1>

<% if @team %>
  <%= info_section "#{t('teams.invite_mode_intro')} #{link_to @team.full_name, @team}." %>
<%  else %>
  <%= info_section "#{t('teams.invite_mode_explanation')} #{link_to t('teams.see_teams'), url_for(:controller => 'teams', :action => 'index', :show_my => 'true')}." %>
<% end %>

<div id="filter_buttons">
  <label for="allPlayersToggleButton"><%= t('players.all') %></label>
  <input type="radio" name="show_filter" id="allPlayersToggleButton" 
         onClick="goTo('<%=  url_for :action => 'index', :show_without_team => nil, :team_invite_id => params[:team_invite_id] %>')"
         <%= unless current_page?(:show_without_team => 'true', :team_invite_id => params[:team_invite_id], :page => params[:page]) then 'checked' else '' end %> />

  <label for="playersWithoutTeamToggleButton"><%= t('players.without_team') %></label>
  <input type="radio" name="show_filter" id="playersWithoutTeamToggleButton" 
         onClick="goTo('<%=  url_for :action => 'index', :show_without_team => 'true', :team_invite_id => params[:team_invite_id] %>')" 
         <%= if current_page?(:show_without_team => 'true', :team_invite_id => params[:team_invite_id], :page => params[:page]) then 'checked' else '' end %> />
</div>
  
<table id="minimalist-table-hor-a" summary="<%= t('players.page_title') %>">
  <thead>
    <tr>
      <th scope="col"><%= t('players.player') %></th>
      <th scope="col"><%= t('teams.page_title') %></th>
      <th scope="col"><%= t('players.exists_since') %></th>
      <% if @team %>
        <th scope="col"><%= t('more') %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% for user in @users do %>      
      <tr>
        <td><%= name_with_award_image(user) %></td>
        <td><%= (user.teams.any? ? user.teams.join(', ') : t('teams.none')) %></td>
        <td><%= time_ago_in_words(user.created_at) %></td>
        <% if @team %>
          <td>
            <%= form_tag new_offer_path, :method => :get do %>
              <%= hidden_field_tag 'originated_from_player', false %>
              <%= hidden_field_tag 'team_id', @team.id %>
              <%= hidden_field_tag 'user_id', user.id %>
              <%= submit_tag "#{t('teams.invite')} #{@team.full_tag}", :class => 'submit button' %>    
            <% end %>            
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @users %>
