<h3>Temat: <%= @match.team1.full_tag %> vs <%= @match.team2.full_tag %></h3>
<br/>

[center][size=24pt][b][glow=red,2,300]<%= @match.team1.name %><br/>
vs <br/>
<%= @match.team2.name %>[/glow][/b][/size][/center]<br/><br/>

[b]Link do strony meczu: [url]<%= match_url(@match) %>[/url][/b]<br/><br/>

Ustawienia meczowe:<br/>
- Tryb gry: Hardcore<br/>
- Limit fragów: 100<br/>
- Limig czasu: 20 minut<br/>
- Friendly fire: On<br/>
- [color=red][b]Gramy do 2 zwyciężonych map, w przypadku remisu po 3 mapach, odbywa się losowanie na kolejne mapy![/b][/color]<br/><br/>

[center][size=18pt][b][color=orange]TERMIN: <%= time_tag(@match.scheduled_at) %>[/color][/b][/size][/center]<br/><br/>

[size=18pt][b][color=orange]MAPY:[/color][/b][/size]<br/>
[list type=decimal]<br/>
<% for map in @match.maps %>
      [li]<%= map.name %>[/li]<br/>      
<% end %>
[/list]<br/><br/>

[b]Sędzia: [color=orange]<%= @match.judge unless @match.judge.nil? %>[/color][/b]<br/><br/>

[center][b]Proszę o dostarczenie zdjęć do dnia <%= time_tag(@match.scheduled_at.tomorrow) %> (przez system na stronie głównej).[/b][/center]
