<center><%= match_map.team_in_game team %></center>

<% results_updated_token = "update_results_#{match_map.id}_#{team.id}" %>
<% match_entries_token = "match_entries_#{match_map.id}_#{team.id}" %>  
<%= form_for match_map, :remote => true do |f| %>    
  <table id="match_entries">
    <thead>
      <th scope="col"><%= t('players.player').capitalize %></th>
      <% if match_map.match.competition.score_counted? %>
        <th scope="col"><%= t('matches.score').capitalize %></th>
      <% end %>
      <% if match_map.match.competition.kills_counted? %>
        <th scope="col"><%= t('matches.kills').capitalize[0..1] %>.</th>
      <% end %>
      <% if match_map.match.competition.deaths_counted? %>
        <th scope="col"><%= t('matches.deaths').capitalize[0..1] %>.</th>
      <% end %>
      <% if match_map.match.competition.assists_counted? %>
        <th scope="col"><%= t('matches.assists').capitalize[0..1] %>.</th>
      <% end %>
    </thead>  
    <%= f.hidden_field :results_updated_token, :value => results_updated_token %>
    <%= f.hidden_field :match_entries_token, :value => match_entries_token %>
    <%= f.hidden_field :team_id, :value => team.id %>
    <%= f.fields_for :match_entries do |me| %>
      <% if me.object.team == team %>
        <%= me.hidden_field :team_id %>
        <%= me.hidden_field :match_id %>
        <tr>          
          <td><%= me.select(:user_id, team.all_users.collect {|x| [x, x.id]}, { :include_blank => t('remove')} ) %></td>
          <% if match_map.match.competition.score_counted? %>
            <td><%= me.text_field :score, :class => "number" %></td>
          <% end %>
          <% if match_map.match.competition.kills_counted? %>
            <td><%= me.text_field :kills, :class => "number" %></td>
          <% end %>
          <% if match_map.match.competition.deaths_counted? %>
            <td><%= me.text_field :deaths, :class => "number" %></td>
          <% end %>
          <% if match_map.match.competition.assists_counted? %>
            <td><%= me.text_field :assists, :class => "number" %></td> 
          <% end %>
        </tr>
      <% end %>
    <% end %>
    <tr>
      <td colspan="4" class="results_updated_token" id="<%= results_updated_token %>"></td>
    </tr>
    <tr>
      <td colspan="4" class="text-center"><%= f.submit :class => 'submit btn-form-single', :onClick => "window.show_waiting_info('##{results_updated_token}');" %></td>
    </tr>
  </table>
<% end %>