<table class="match_summary">
  <tr class="info_row">
    <td colspan='3'>
      <h2><%= if match.scheduled_at.nil? then "walkower" else time_tag match.scheduled_at end %></h2>
      <span class="details">
        <% #"#{match.round.competition.name} (#{match.competition.name}) - #{match.round.number}. #{t('matches.round_robin_round')}" # FIXME! %>
        <%= match.competition.long_name %>
      </span>
    </td>
  </tr>
  <tr class="result_row">
    <td class="team_name"><%= match.team1.name %></td>
    <td class="result"><%= link_to match.result, match %></td>
    <td class="team_name"><%= match.team2.name %></td>
  </tr>
  <% for match_map in match.match_maps %>
    <% if match_map.match_entries.any? %>
      <tr class="details_row">
        <td class="map_score <%= if match_map.winning_team == match.team2 or match_map.winning_team.nil? then "lighter" else "" end %>">
          <%= match.team_score_on_map(match.team1, match_map.map) %>
        </td>
        <td class="map_name"><%= match_map.map %></td>
        <td class="map_score <%= if match_map.winning_team == match.team1 or match_map.winning_team.nil? then "lighter" else "" end %>">
          <%= match.team_score_on_map(match.team2, match_map.map) %>
        </td>
      </tr>
    <% end %>
  <% end %>
</table>
<% if match.competition.score_base.eql?("kills") and match.forfeiting_team.nil? and not match.not_played? %>
  <div class="best_players round">
    <% stats = PlayerStats.best_match_players(match) %>
    <table>
      <tr>
        <td>
          <h2><%= t('stats.most_kills') %></h2>
          <span><%= "#{User.find(stats[:kills][0])} (#{stats[:kills][1]})" %></span>    
        </td>
        <td>
          <h2><%= t('stats.most_assists') %></h2>
          <span><%= "#{User.find(stats[:assists][0])} (#{stats[:assists][1]})" %></span>
        </td>
        <td>
          <h2><%= t('stats.least_deaths') %></h2>
          <span><%= "#{User.find(stats[:deaths][0])} (#{stats[:deaths][1]})" %></span>
        </td>
      </tr>
    </table>
  </div>
<% elsif match.competition.score_base.eql?("score") %>
  <h2 style="margin-top: 30px; font-weight: bold;">Awans: <%= match.winning_team.full_name %></h3>
<% else %>
  <% unless match.not_played? %>
    walkower
  <% else %>
    Mecz nierozegrany. <%= match.not_played_comment %>
  <% end %>
<% end %>
