<center><%= team_in_game %></center>
<table>
  <thead>
    <th scope="col"><%= t('players.player').capitalize %></th>
    <th scope="col"><%= t('matches.kills').capitalize %></th>
    <th scope="col"><%= t('matches.deaths').capitalize %></th>
    <th scope="col"><%= t('matches.assists').capitalize %></th>
  </thead>  
  <% for match_entry in match_map.match_entries %>
    <% if match_entry.team == team %>      
      <tr>          
        <td><%= match_entry.user %></td>
        <td><%= match_entry.kills %></td>
        <td><%= match_entry.deaths %></td>  
        <td><%= match_entry.assists %></td> 
      </tr>
    <% end %>
  <% end %>  
</table>