<table>  
  <thead>
    <th scope="col">Zawodnik</th>
    <th scope="col">Fragi</th>
    <th scope="col">Śmierci</th>
    <th scope="col">Asysty</th>
  </thead>
  <%= form_for match_map do |f| %>
    <%= f.fields_for :match_entries do |me| %>
      <% if me.object.team == team %>
        <tr>      
          <td><%= me.object.user %></td>
          <td><%= me.text_field :kills, :size => 1 %></td>
          <td><%= me.text_field :deaths, :size => 1 %></td>  
          <td><%= me.text_field :assists, :size => 1 %></td> 
        </tr>
      <% end %>        
    <% end %>
        <tr>
          <td colspan="4" class="text-center"><%= f.submit :class => 'submit btn-form-single' %></td>
        </tr>
  <% end %>
</table>