<h1><%= t('matches.page_title') %></h1>

<% unless @managed_team.nil? %>
  <%= info_section "#{t('matches.manager_intro')} #{link_to @managed_team.full_name, @managed_team}." %>
<%  else %>
  <%= info_section t('matches.intro') %>
<% end %>

<% unless @matches.nil? %>
  <% if user_signed_in? %>
    <div id="filter_buttons">
      <label for="allMatchesToggleButton"><%= t('matches.all') %></label>
      <input type="radio" name="show_filter" id="allMatchesToggleButton" 
             onClick="goTo('<%=  url_for :action => 'index', :show_my => nil %>')"
             <%= unless current_page?(:show_my => 'true', :page => params[:page]) then 'checked' else '' end %> />

      <label for="myMatchesToggleButton"><%= t('matches.my') %></label>
      <input type="radio" name="show_filter" id="myMatchesToggleButton" 
             onClick="goTo('<%=  url_for :action => 'index', :show_my => 'true' %>')" 
             <%= if current_page?(:show_my => 'true', :page => params[:page]) then 'checked' else '' end %> />
    </div>
  <% end %>

  <% if @matches.any? %>
    <table id="minimalist-table-hor-a" summary="<%= t('matches.page_title') %>">
      <thead>
        <tr>
          <th scope="col"><%= t('matches.match') %></th>
          <th scope="col"><%= t('matches.result') %></th>
          <th scope="col"><%= t('matches.scheduled_at') %></th>
          <th scope="col"><%= t('competitions.page_title') %></th>
          <th scope="col"><%= t('more') %></th>         
        </tr>
      </thead>
      <tbody>
        <% for match in @matches do %>
          <tr>
            <td><%= match_teams(match) %></td>
            <td><%= match.result %></td>
            <td><%= time_tag(match.scheduled_at) %></td>          
            <td><%= link_to @competition.name, @competition %></td>               
            <td>
              <% if not @managed_team.nil? and match.open_spot? %>
                <% if match.team1 != @managed_team %>
                  <%= form_tag match_path(match), :method => :put do %>                
                    <%= hidden_field_tag 'team2_id', @managed_team.id %>                
                    <%= submit_tag t('matches.accept'), :confirm => t('are_you_sure'), :class => 'submit button', :name => nil %>    
                  <% end %>            
                <% else %>
                  <%= form_tag match_path(match), :method => :delete do %>                    
                    <%= submit_tag t('matches.remove_proposal'), :confirm => t('are_you_sure'), :class => 'submit button', :name => nil %>    
                  <% end %>            
                <% end %>
              <% elsif not match.open_spot? %>
                <%= form_tag match_path(match), :method => :get do %>                    
                  <%= submit_tag t('matches.more'), :class => 'submit button', :name => nil %>    
                <% end %>  
              <% else %>
                <%= t('none') %>
              <% end %>
            </td>     
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= will_paginate @matches %>
  <% else %>  
    <p style='margin-top: 7px;'><%= t('matches.none') %></p>
  <% end %>
<% end %>
  
<% unless @managed_team.nil? %>
  <h2><%= t('matches.propose') %></h2>  
  <% if @match.errors.any? %>
    <div class="flash error">
      <h2><%= pluralize_localized(@match.errors.count, t('error')) %> <%= t('in_your_form') %></h2>
      <p><%= t('problems_detected') %>:</p>
      <ul class="fancy">
      <% @match.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div id="stylized-form">
    <%= form_tag :action => 'create' do %>	
      <%= hidden_field_tag "match[team1_id]", @match.team1.id %>
      <%= hidden_field_tag "match[competition_id]", @competition.id %>
      <div class="wrapper-block">
        <label><%= t('activerecord.attributes.match.team1') %>:<span class="small-label">drużyna zapraszająca</span></label>
        <%= text_field :match, :team1, { :disabled => true } %>
      </div>      
      <div class="wrapper-block">
        <label><%= t('activerecord.attributes.match.competition') %>:<span class="small-label">w ramach rozgrywek</span></label>
        <%= text_field :match, :competition, { :disabled => true } %>
      </div>      
      <div class="wrapper-block">
        <label><%= t('activerecord.attributes.match.scheduled_at') %>:<span class="small-label">proponowany termin meczu</span></label>
        <%= datetime_select("match", "scheduled_at", :start_year => 2012, :end_year => 2012) %>
      </div>    
      <input type="submit" value="<%= t('matches.propose') %>" class="submit btn-form" />
    <% end %>
  </div>
<% end %>