<h1><%= t('matches.page_title') %></h1>

<% if user_signed_in? %>
  <div id="filter_buttons">
    <label for="allMatchesToggleButton"><%= t('matches.all') %></label>
    <input type="radio" name="show_filter" id="allMatchesToggleButton" 
           onClick="goTo('<%=  url_for :action => 'index', :show_my => nil %>')"
           <%= unless current_page?(:show_my => 'true', :show_judged => params[:show_judged], :page => params[:page]) then 'checked' else '' end %> />

    <label for="myMatchesToggleButton"><%= t('matches.my') %></label>
    <input type="radio" name="show_filter" id="myMatchesToggleButton" 
           onClick="goTo('<%=  url_for :action => 'index', :show_my => 'true' %>')" 
           <%= if current_page?(:show_my => 'true', :show_judged => params[:show_judged], :page => params[:page]) then 'checked' else '' end %> />

    <label for="judgedMatchesToggleButton"><%= t('matches.judged') %></label>
    <input type="radio" name="show_filter" id="judgedMatchesToggleButton" 
           onClick="goTo('<%=  url_for :action => 'index', :show_judged => 'true' %>')" 
           <%= if current_page?(:show_judged => 'true', :show_my => params[:show_my], :page => params[:page]) then 'checked' else '' end %> />
  </div><br />
<% end %>
  
<% if !@matches.nil? %>
  <% if @matches.any? %>      
    <%= render 'matches', :matches => @matches, :managed_team => @managed_team %>
  <% else %>  
    <p style='margin-top: 7px;'><%= t('matches.none') %></p>
  <% end %> 
<% elsif !@rounds.nil? %>
  <% for round in @rounds %>
    <h2>Ekstraklasa - <%= round.competition.name %> - <%= round.number %>. <%= t('matches.round_robin_round') %></h2>
    <h3><%= t('matches.deadline') %>: <%= time_tag(round.ends) %></h3>
    <%= render 'matches', :matches => round.matches.order('scheduled_at asc'), :managed_team => @managed_team %>
  <% end %>
  <%= will_paginate @rounds  %>
<% end %>
