<h1><%= t('matches.page_title') %></h1>
<h2><%= @competition.long_name %></h2>

<% if false # FIXME, TODO: add format support for competition (open/scheduled) %>
  <div id="filter_buttons">
    <label for="allMatchesToggleButton"><%= t('matches.all') %></label>
    <input type="radio" name="show_filter" id="allMatchesToggleButton" 
           onClick="goTo('<%=  url_for :action => 'index', :show_my => nil %>')"
           <%= unless current_page?(:show_my => 'true', :show_judged => params[:show_judged], :page => params[:page]) then 'checked' else '' end %> />

    <label for="myMatchesToggleButton"><%= t('matches.my') %></label>
    <input type="radio" name="show_filter" id="myMatchesToggleButton" 
           onClick="goTo('<%=  url_for :action => 'index', :show_my => 'true' %>')" 
           <%= if current_page?(:show_my => 'true', :show_judged => params[:show_judged], :page => params[:page]) then 'checked' else '' end %> />

    <label for="judgedMatchesToggleButton"><%= t('matches.judged') %></label>
    <input type="radio" name="show_filter" id="judgedMatchesToggleButton" 
           onClick="goTo('<%=  url_for :action => 'index', :show_judged => 'true' %>')" 
           <%= if current_page?(:show_judged => 'true', :show_my => params[:show_my], :page => params[:page]) then 'checked' else '' end %> />
  </div><br />
<% end %>

<% unless @managed_team.nil? %>
  <%= info_section "#{t('matches.manager_intro')} #{link_to @managed_team.full_name, @managed_team}." %>
<%  else %>
  <%= info_section t('matches.intro') %>
<% end %>

<% if !@matches.nil? %>
  <% if user_signed_in? %>
    <div id="filter_buttons">
      <label for="allMatchesToggleButton"><%= t('matches.all') %></label>
      <input type="radio" name="show_filter" id="allMatchesToggleButton" 
             onClick="goTo('<%=  url_for :action => 'index', :show_my => nil %>')"
             <%= unless current_page?(:show_my => 'true', :page => params[:page]) then 'checked' else '' end %> />

      <label for="myMatchesToggleButton"><%= t('matches.my') %></label>
      <input type="radio" name="show_filter" id="myMatchesToggleButton" 
             onClick="goTo('<%=  url_for :action => 'index', :show_my => 'true' %>')" 
             <%= if current_page?(:show_my => 'true', :page => params[:page]) then 'checked' else '' end %> />
    </div>
  <% end %>  

  <% if @matches.any? %>      
    <%= render 'matches', :matches => @matches, :managed_team => @managed_team %>
  <% else %>  
    <p style='margin-top: 7px;'><%= t('matches.none') %></p>
  <% end %> 
<% elsif !@rounds.nil? %>
  <% for round in @rounds %>
    <h2><%= round.competition.name %> - <%= round.number %>. <%= t('matches.round_robin_round') %></h2>
    <% if Time.now < round.ends %>
      <h3><%= t('matches.deadline') %>: <%= time_tag(round.ends) %></h3>
    <% end %>
    <%= render 'matches', :matches => round.matches.order('scheduled_at asc'), :managed_team => @managed_team %>
  <% end %>
<% end %>
    
<% unless @managed_team.nil? %>
  <h2><%= t('matches.propose') %></h2>  
  <% if @match.errors.any? %>
    <div class="flash error">
      <h2><%= pluralize_localized(@match.errors.count, t('error')) %> <%= t('in_your_form') %></h2>
      <p><%= t('problems_detected') %>:</p>
      <ul class="fancy">
      <% @match.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div id="stylized-form">
    <%= form_tag :action => 'create' do %>	
      <%= hidden_field_tag "match[team1_id]", @match.team1.id %>
      <%= hidden_field_tag "match[competition_id]", @competition.id %>
      <div class="wrapper-block">
        <label><%= t('activerecord.attributes.match.team1') %>:<span class="small-label">drużyna zapraszająca</span></label>
        <%= text_field :match, :team1, { :disabled => true } %>
      </div>      
      <div class="wrapper-block">
        <label><%= t('activerecord.attributes.match.competition') %>:<span class="small-label">w ramach rozgrywek</span></label>
        <%= text_field :match, :competition, { :disabled => true } %>
      </div>      
      <div class="wrapper-block">
        <label><%= t('activerecord.attributes.match.scheduled_at') %>:<span class="small-label">proponowany termin meczu</span></label>
        <%= datetime_select("match", "scheduled_at", :start_year => 2012, :end_year => 2012) %>
      </div>    
      <input type="submit" value="<%= t('matches.propose') %>" class="submit btn-form" />
    <% end %>
  </div>
<% end %>