<h1><%= match_teams(@match) %></h1>
<% if @match.judge.nil? %>
  <%= info_section t('matches.waiting_to_be_accepted') %>
<% end %>
<ul class="fancy">
  <li><%= t('competitions.page_title') %>: <%= @match.competition %></li>
  <li><%= t('matches.scheduled_at') %>: <%= time_tag(@match.scheduled_at) %></li>
  <li><%= t('matches.judge') %>: <%= (@match.judge.nil? ? t('matches.no_judge') : @match.judge) %></li>
  <li><%= t('matches.processed') %>: <%= (@match.processed ? t('choice_yes') : t('choice_no')) %></li>
</ul>

<table id="minimalist-table-hor-a" summary="<%= t('matches.page_title') %>">
  <thead>
    <tr>
      <th scope="col" class="text-center" style="vertical-align: middle;"><%= t('matches.maps') %></th>
      <th scope="col" class="text-center"><%= @match.team1 %></th>
      <th scope="col" class="text-center"><%= @match.team2 %></th>
    </tr>
  </thead>
  <tbody>
    <% for match_map in @match.match_maps %>
      <tr>
        <td class="text-center" rowspan="2">
          <div><%= image_tag match_map.map.image_url, :alt => match_map.map.name %></div>
          <h3><%= match_map.map.name %></h3>
        </td>
        <td class="text-center">
          <div id="match_entries_<%= match_map.id %>_<%= @match.team1.id %>">
            <%= render 'match_entries', :match_map => match_map, :team => @match.team1 %>   
          </div>
        </td>
        <td class="text-center">
          <div id="match_entries_<%= match_map.id %>_<%= @match.team2.id %>">
            <%= render 'match_entries', :match_map => match_map, :team => @match.team2 %>
          </div
        </td>
      </tr>
      <tr>        
        <td class="text-center" colspan="2">
          <%= image_tag asset_path("photo_add.png"), :alt => t('matches.add_photo') %><h5><%= t('matches.add_photo') %></h5>
        </td>
      </tr>
    <% end %>
      <tr>
        <td colspan="3" class="text-center">
          <%= submit_tag t('matches.update_all_results'), :class => "submit btn-form-single", :onClick => 'window.submit_all();' %>
        </td>
      </tr>
  </tbody>  
</table>

<% if user_signed_in? and current_user.id == 1 %>
  <%= render 'forum_match_topic', :match => @match %>
<% end %>