<h1><%= match_teams(@match) %></h1>
<% if @match.processed %>
  <h2><%= t('matches.result') %>: <%= @match.detailed_result %></h2>
<% end %>
<% if @match.judge.nil? %>
  <%= info_section t('matches.waiting_to_be_accepted') %>
<% elsif @match.scheduled_at.nil? %>
  <% if @managed_team.nil? %>
    <% if @match.judge == current_user %>
      <%= info_section t('matches.waiting_to_be_scheduled_judge') %>
    <% else %>
      <%= info_section t('matches.waiting_to_be_scheduled') %>  
    <% end %>
  <% else %>
    <%= info_section t('matches.waiting_to_be_scheduled_captain') %>
  <% end %>
<% elsif @edit_mode %>
  <% if @match.judge == current_user %>
    <%= info_section t('matches.edit_mode_intro_for_judge') %>
  <% else %>
    <%= info_section t('matches.edit_mode_intro') %>
  <% end %>
<% end %>
<ul class="fancy">  
  <li><%= t('competitions.page_title') %>: <%= @match.competition %></li>
  <li><%= t('matches.scheduled_at') %>: <%= (!@match.scheduled_at.nil? ? time_tag(@match.scheduled_at) : "?") %></li>
  <li><%= t('matches.judge') %>: <%= (@match.judge.nil? ? t('matches.no_judge') : @match.judge) %></li>  
  <li><%= t('matches.processed') %>: <%= (@match.processed ? t('choice_yes'): t('choice_no')) %></li>
</ul>

<% if @match.scheduled_at.nil? %>
  <% if !@managed_team.nil? or current_user == @match.judge %>
    <% if @match.match_time_proposals.any? %>
      <table id="minimalist-table-hor-a" summary="<%= t('matches.page_title') %>">
        <thead>
          <tr>
            <th scope="col"><%= t('matches.scheduled_at') %></th>
            <th scope="col"><%= t('matches.proposed_by') %></th>
            <th scope="col"><%= t('more') %></th>         
          </tr>
        </thead>
        <tbody>
          <% for p in @match.match_time_proposals do %>
            <tr>             
              <td style="vertical-align: middle;"><%= time_tag(p.proposal) %></td>
              <td style="vertical-align: middle;"><%= p.team %></td>
              <td>               
                <% if !@managed_team.nil? and p.team != @managed_team %>
                  <%= form_tag match_time_proposal_path(p), :method => :put do %>                    
                    <%= submit_tag t('matches.accept'), :confirm => t('are_you_sure'), :class => 'submit button', :name => nil %>    
                  <% end %>            
                <% elsif p.team == @managed_team %>
                  <%= form_tag match_time_proposal_path(p), :method => :delete do %>                    
                    <%= submit_tag t('matches.remove_proposal'), :confirm => t('are_you_sure'), :class => 'submit button', :name => nil %>    
                  <% end %>            
                <% else %>                
                  <%= t('none') %>
                <% end %>                
              </td>     
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <%= t('matches.no_date_proposals') %>
    <% end %>
    
    <% unless @managed_team.nil? %>
      <div id="stylized-form">
        <%= form_tag :controller => :match_time_proposals, :action => 'create' do %>
          <%= hidden_field_tag "match_time_proposal[match_id]", @match.id %>
          <%= hidden_field_tag "match_time_proposal[team_id]", @managed_team.id %>      
          <div class="wrapper-block">
            <label><%= t('activerecord.attributes.match.scheduled_at') %>:<span class="small-label"><%= t('matches.propose_your_time') %></span></label>
            <%= datetime_select("match_time_proposal", "proposal", :start_year => 2012, :end_year => 2012) %>
          </div>    
          <input type="submit" value="<%= t('matches.propose') %>" class="submit btn-form" />
        <% end %>
      </div>
    <% end %>
  <% end %>
<% else %>  
  <% edit = @edit_mode ? "_edit" : "" %>
  <table id="minimalist-table-hor-a" summary="<%= t('matches.page_title') %>">
    <thead>
      <% if @edit_mode or @match.processed %>
        <tr>
          <th scope="col" class="text-center" style="vertical-align: top;"><%= t('matches.maps') %></th>
          <th scope="col" class="text-center"><%= @match.team1 %></th>
          <th scope="col" class="text-center"><%= @match.team2 %></th>
        </tr>
      <% else %>
        <tr>
          <th scope="col" class="text-center"><%= t('matches.map') %> #1</th>
          <th scope="col" class="text-center"><%= t('matches.map') %> #2</th>
          <th scope="col" class="text-center"><%= t('matches.map') %> #3</th>
        </tr>
      <% end %>
    </thead>
    <tbody>
      <% if @edit_mode or @match.processed %>
        <% for match_map in @match.match_maps %>
          <% if @edit_mode or match_map.match_entries.any? %>
            <tr>
              <td class="text-center" rowspan="2" style="vertical-align: top;">
                <div><%= image_tag match_map.map.image_url, :alt => match_map.map.name %></div>
                <h3><%= match_map.map.name %></h3>
              </td>
              <td class="text-center">
                <div id="match_entries_<%= match_map.id %>_<%= @match.team1.id %>">
                  <%= render 'match_entries' + edit, :match_map => match_map, :team => @match.team1 %>   
                </div>
              </td>
              <td class="text-center">
                <div id="match_entries_<%= match_map.id %>_<%= @match.team2.id %>">
                  <%= render 'match_entries' + edit, :match_map => match_map, :team => @match.team2 %>
                </div
              </td>
            </tr>
            <tr style="border-bottom: 1px dotted #6678B1;">        
              <td class="text-center" colspan="2">
                <%= render 'match_map_picture' + edit, :match_map => match_map %>
              </td>
            </tr>
          <% end %>
        <% end %>
      <% else %>
        <tr>          
          <% for i in 0...3 # FIXME %>        
            <% match_map = @match.match_maps[i] %>
            <td class="text-center" style="vertical-align: top;">
              <div><%= image_tag match_map.map.image_url, :alt => match_map.map.name %></div>
              <h3><%= match_map.map.name %></h3>
            </td>
          <% end %>
        </tr>
      <% end %>
      <% if @edit_mode and current_user == @match.judge %>
        <tr>
          <td colspan="3" class="text-center">
            <%= form_tag "/matches/#{@match.id}/check_results", :method => :get, :remote => true do %>
              <%= submit_tag t('matches.check_and_commit_match'), :class => "submit btn-form-single", :name => nil, :onClick => "window.show_waiting_info('#results_summary');" %>
            <% end %>
          </td>
        </tr>
        <tr>
          <td colspan="3" class="text-center" id="results_summary">          
          </td>
        </tr>    
      <% end %>
    </tbody>  
  </table>

  <% if user_signed_in? and current_user.id == 1 and (not @match.processed) and (not @match.scheduled_at.nil?) %>
    <%= render 'forum_match_topic', :match => @match %>
  <% end %>
<% end %>