<% reply = defined?(reply) ? reply : false %>

<li id="li-comment-<%= comment.id %>" class="comment <%= (reply ? "depth-2" : "depth-1 thread-" + cycle("even", "odd")) %>">
  <div id="comment-<%= comment.id %>">
    <div class="comment-author vcard">
      <div class="gravatar"><img width="60" height="60" class="avatar avatar-60 photo" src="<%= comment.owner.avatar %>" alt="<%= comment.owner %>">                
        <div class="comment-date">
          <a href="#comment-<%= comment.id %>">
            <%= time_tag comment.created_at %>
          </a>
        </div>
      </div>
      <div class="commentmetadata">
        <cite class="fn"><%= link_to comment.owner, "#" %></cite>
        <p><%= comment.body %></p>
        <% if Opinio.accept_replies && !reply %>
          <div class="reply">
            {<%= link_to t("opinio.reply", :default => "Reply"), reply_comment_path(comment), :remote => true %>}
          </div>
        <% end %>
        <% if can? :destroy, comment # TODO: use Opinio block %>
          <span class="admin_panel"><%= link_to t('opinio.actions.delete'), comment_path(comment), :method => :delete %></span>
        <% end %>
      </div>
    </div>
  </div>
  <% if Opinio.accept_replies && !reply %>
    <ul id="comment-<%= comment.id %>-replies" class="children">
      <%= render :partial => "opinio/comments/comment", :collection => comment.comments, :locals => {:reply => true} %>
    </ul>
  <% end %>
</li>

