<h1><%= t('stats.players.page_title') %></h1>

<h2>Ekstraklasa (sezon 4)</h2>
<table id="minimalist-table-hor-a" class="ranking-table-active" summary="<%= t('stats.players.page_title') %>">
  <thead>
    <tr>
      <th class="text-center" scope="col"><%= t('stats.place') %></th>
      <th class="text-center" scope="col"><%= t('players.player') %></th>
      <th class="text-center" scope="col"><%= t('stats.matches').capitalize %></th>  
      <th class="text-center" scope="col"><%= t('stats.maps').capitalize %></th>  
      <th class="text-center" scope="col"><%= t('stats.skill').capitalize %></th>
      <th class="text-center" scope="col"><%= t('stats.kdr') %></th>
      <th class="text-center" scope="col"><%= t('stats.frags_for').capitalize %></th>
      <th class="text-center" scope="col"><%= t('stats.frags_against').capitalize %></th>
      <th class="text-center" scope="col"><%= t('stats.assists').capitalize %></th>
      <th class="text-center" scope="col"><%= t('stats.frags_per_map').capitalize %></th>
      <th class="text-center" scope="col"><%= t('stats.deaths_per_map').capitalize %></th>
      <th class="text-center" scope="col"><%= t('stats.assists_per_map').capitalize %></th>
      <th class="text-center" scope="col"><%= t('stats.competition_activity').capitalize %></th>
    </tr>
  </thead>
  <tbody>
    <% i = 0 %>
    <% for stats in @stats do %>
      <% i += 1 %>        
      <tr>
        <td class="text-center"><%= i %></td>
        <td class="text-center"><%= "#{stats.team.full_tag} #{stats.user}" %></td>
        <td class="text-center"><%= stats.matches.size %></td>
        <td class="text-center"><%= stats.maps %></td>         
        <td class="text-center"><%= if stats.skill > 0 then stats.skill.round(1) else "-" end %></td>
        <td class="text-center"><%= stats.kdr.round(2) %></td>
        <td class="text-center"><%= stats.kills %></td>
        <td class="text-center"><%= stats.deaths %></td>
        <td class="text-center"><%= stats.assists %></td>
        <td class="text-center"><%= stats.kills_per_map.round(1) %></td>
        <td class="text-center"><%= stats.deaths_per_map.round(1) %></td>
        <td class="text-center"><%= stats.assists_per_map.round(1) %></td>
        <td class="text-center"><%= stats.competition_activity.round(1) %>%</td>
      </tr>
    <% end %>
  </tbody>
</table><br />

<h3>Legenda</h3>
<ul class="fancy">
  <li>Pole Aktywność oznacza procent meczów drużyny, w których dany gracz brał udział (wystarczy jedna mapa),</li>
  <li>Pole skill jest obliczane tylko dla graczy, którzy rozegrali przynajmniej 50% meczów drużyny (pole Aktywność),</li>
  <li>Mecze zakończone walkowerem nie wliczają się do statystyk.</li>
</ul>


        
