<h1><%= t('stats.page_title') %></h1>

<% for competition in @competitions %>
  <h2><%= competition.name %></h2>
  <table id="minimalist-table-hor-a" class="ranking-table" summary="<%= t('stats.page_title') %>">
    <thead>
      <tr>
        <% if @show_place %>
          <th class="text-center" scope="col"><%= t('stats.place') %></th>
        <% end %> 
        <th class="text-center" scope="col"><%= t('teams.team') %></th>
        <% for f in @fields %>
          <th class="text-center" scope="col"><%= t("stats.#{f}") %></th>   
        <% end %>
        <% for f in competition.stats_config[:additional_fields].keys %> 
          <th class="text-center" scope="col"><%= f %></th>   
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% pos = 0 %>
      <% for x in @stats[competition.id] do %>
        <% pos += 1 %>        
        <tr>
          <% if @show_place %>
            <td class="text-center"><%= pos %></td>
          <% end %>
          <td class="text-center"><%= link_to name_with_award_image(x.team), x.team %></td>
          <% for f in @fields %>
            <td class="text-center"><%= x.send f %></td>
          <% end %>
          <% for f in competition.stats_config[:additional_fields].values %> 
            <td class="text-center"><%= eval(f) %></td>
          <% end %>          
        </tr>
      <% end %>
    </tbody>
  </table><br/>
<% end %>

        
