<div class="row">
  <div class="column grid_7">
    <%= link_to logo, :root %>
  </div>
  <div class="column grid_5 text-center">
    <div class="header-section round text-right">
      <% if user_signed_in? then %>  
        <%= "#{t('signed_in_as')} #{current_user}" %>
        <%= link_to t('sign_out'), destroy_user_session_path, :method => :delete %>
      <% else %>
        <%= "#{t('hello_guest')}" %>
        <%= link_to t('sign_up'), new_user_registration_path %>
        <%= " #{t('or')} " %>
        <%= link_to t('sign_in'), new_user_session_path %>.
      <% end %>
    </div>     
    <h1 style="margin-top: 10px;">Kwalifikacje kończą się <br/> 6. lutego!</h1>
  </div>
</div>
<div class="row">
  <div class="column grid_12">
    <ul class="main-navigation">
        <li><%= link_to t('home.page_title'), root_path %></li>
        <li><%= link_to t('competitions.page_title'), competitions_path %></li>
        <li><%= link_to t('matches.page_title'), matches_path %></li>
        <li><%= link_to t('players.page_title'), players_index_path %></li>
        <li><%= link_to t('teams.page_title'), teams_path %></li>         
        <% if user_signed_in? then %>              
          <li><%= link_to t('teams.new'), new_team_path %></li>          
          <li><%= link_to t('offers.page_title') + offers_count(current_user), offers_path %></li>              
        <% end %>
        
        <li><%= link_to t('forum'), 'http://unchartedleague.com/forum', :target => "blank" %></li>          
    </ul>
  </div>
</div>
